<div class = "bg-warning m-5">
  <p> <%= @question %> </p>
  <p class ="fst-italic"> -You </p>
</div>
<div class = "bg-warning m-5">
  <p> <%= @answer %> </p>
  <p class ="fst-italic"> -Your coach </p>
</div>
<div class = "m-5 text-decoration: none;" >
  <p> <%= link_to "Ask a new question", ask_path %> </p>
</div>
